* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent;
}

.jumbotron-fluid {
    background-color: transparent;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing {
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}

.about {

}

#jumbotronText {
    font-size: 8vw;
    margin-top: 10%;
}
