* {
    margin: 0;
    padding: 0;
}

/* nav.scroll {
    background-color: black;
    color: white;
} */

form {
    padding: 5vh;
}

/* .navbar.stationary {
    background: white;
    color: black;
} */

.panel {
    justify-content: space-around;
}

.color-darkBlue {
    background-color: #476080;
}

.color-skyBlue {
    background-color: #FFFFE6;
}

.color-gold {
    background-color: #FFFFFF;
}

.color-black {
    background-color: black;
}

.color-greyBlue {
    background-color: #A1ACB3;
}

.color-white {
    background-color: #FCFFFF;
}

.jumbotron-fluid {
    background-color: transparent;
    height: 100vh;
}

.jumbotron .container-fluid {
    margin-top: 20%;
    margin-right: 5%;
}

.typewriter > .text {
    border-right: 0.2rem solid black;
}

.container-fluid {
    padding-top: 10vh;
    text-align: center;
}

.table tbody {
    border: none;
}

.table thead tr td {
    border: none;
}

.table tbody tr td {
    vertical-align: middle;
    border: none;
}

.table tbody tr td img {
    animation-name: slide;
    animation-duration: 4s;
}

.animateDown, .animateUp, .animateLeft, .animateRight, .stagDelay {
    opacity: 0;
}

#jumbotronText {
    font-size: 8vw;
    margin-top: 10%;
}

#textLeft {
    font-size: 2vw;
    padding-left: 3%;
    padding-right: 3%;
}

#textRight {
    font-size: 2vw;
    padding-top: 5%;
    padding-right: 3%;
}

#tableImage {
    height: 7vw;
    transition: 3s ease-out;
    animation-name: slide
}

#emphasize {
    animation: stagDel 2s infinite alternate;
}

@keyframes animDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes stagDel {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}