* {
    margin: 0;
    padding: 0;
    color: #628286;
    font-family: Courier New;
}

body {
    background-color: black;
    transition: background-color 1s ease;
}

h1 {
    color: black;
}

h2 {
    font-size: 8vw;
    color: #628286;
}

h3 {
	font-size: 4vw;
}

form {
    padding: 5vh;
}

footer {
    background-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
}

footer p {
    color: #C2D3D2;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .navbar-toggler-icon {
    color: black;
}

.panel {
    justify-content: space-around;
}

.color-landing {
    background-color: #F7F9FB;
}

.color-about {
    background-color: #DEF2F1;
}

.color-cvskills {
    background-color: #DEF2F1;
}

.color-skills {
    background-color: #1F2833;
}

.color-portfolio {
    background-color: #1F2833;
}

.color-contact {
    background-color: #1F2833;
}

.jumbotron-fluid {
    background-color: transparent;
    height: 100vh;
}

.text {
    color: #628286;
}

.typewriter > .text {
    border-right: 0.2rem solid #628286;
}

.typewriter > .text:hover {
	color: #E08474;
	cursor: pointer;
}

.bottomBanner {
    position: absolute;
    bottom: 10px;
    line-height: 3%;
}

.bottomBanner:hover {
    text-decoration: none;
}

.container-fluid {
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

.card-group {
    column-count: 3;
}

.card {
    background-color: transparent;
    border: none;
}

.imgHov {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.imgHov .imgHovBG {
    background: #D7EAE9;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.imgHovcontent {
    width: 100%;
}

.imgHovDetails {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.imgHov:hover .imgHovBG {
    opacity: 0.7;
}

.imgHov:hover .imgHovDetails {
    top: 60%;
    left: 50%;
    opacity: 1;
}

.imgHovDetails p {
    color: black;
    font-size: 2vh;
}

.fadeIn-bottom {
    top: 80%;
}

h3 .fontLabel, h6 .fontLabel {
    color: black;
}

h4 {
    color: #C2D3D2;;
}

p {
    color: black;
}

.font-italic {
    color: black;
}

.table tbody {
    border: none;
}

.table thead tr td {
    border: none;
    color: #C2D3D2;
}

.table tbody tr td {
    vertical-align: middle;
    border: none;
    color: #C2D3D2;
}

.table tbody tr td img {
    animation-name: slide;
    animation-duration: 4s;
}

.fas {
    font-size: 3vw;
    transition: 3s ease-out;
    animation-name: slide
}

.animateDown, .animateUp, .animateLeft, .animateRight, .stagDelay {
    opacity: 0;
}

.coffee {
    margin-left: 20%;
}

.coffee:before {
    content: "";
}

.coffeeCup {
    width: 30%;
    height: 55%;
    position: absolute;
    bottom: 0;
    background-color: #D8C3A5;
    border-radius: 0 0 70px 70px / 0 0 100px 100px;
}

.coffeeCup::after {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    top: 5%;
    right: -17%;
    border: 8px solid #D8C3A5;
    border-radius: 50%;
}

.coffeeSmoke {
    width: 2.5%;
    height: 25%;
    position: absolute;
    border-radius: 5px;
    background-color: #EAE7DC;
}

.coffeeSmokeOne {
    opacity: 0;
    left: 28%;
    animation: smokeOne 3s 4s linear infinite;
}

.coffeeSmokeTwo {
    opacity: 0;
    left: 36%;
    animation: smokeTwo 3s 4s linear infinite;
}

.coffeeSmokeThree {
    opacity: 0;
    left: 44%;
    animation: smokeTwo 3s 5s linear infinite;
}

.form-control {
    background-color: #C2D3D2;
    opacity: 1;
    color: black;
}

.form-control:focus {
    color: black;   
}

.btn-primary {
    background-color: #C2D3D2;
    color: #253237;
    border-color: #253237;
}

.btn-primary:hover {
    background-color: #628286;
    color: #C2D3D2;
    border-color: #E5FDFF;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.progress-container {
    width: 100%;
    height: 5px;
    background: transparent;
}

.progress-bar {
    height: 5px;
    background: #A3BDC4;
    width: 0%;
}

#jumbotronText {
    font-size: 8vw;
    margin-top: 10%;
}

/* #landing {
    background-image: url('/Users/lovepark/Desktop/portfolio/assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

#lander {
    padding-top: 3%;
    opacity: 0.2;
}

#landing .row {
    position: absolute;
    right: 5%;
    bottom: 20%;
    width: 100%;
}

#about {
    padding-left: 5%;
    padding-right: 5%;
}

#cvskills .table thead tr td {
    border: none;
    color: #628286;
}

#cvskills .table tbody tr td {
    vertical-align: middle;
    border: none;
    color: #628286;
}

#textLeft {
    font-size: 2vw;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 175%;
}

#emphasize {
    animation: stagDel 1.5s infinite alternate;
    color: #628286;
}

#textRight {
    font-size: 2vw;
    padding-top: 5%;
    padding-right: 3%;
    line-height: 175%;
}

#tableImage {
    height: 7vw;
    transition: 3s ease-out;
    animation-name: slide
}

@keyframes animDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes stagDel {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes smokeOne {
    0% {
        bottom: 60%;
        opacity: 0;
    } 40% {
        bottom: 70%;
        opacity: 0.5;
    } 80% {
        bottom: 75%;
        opacity: 0.3;
    } 100% {
        bottom: 80%;
        opacity: 0;
    }
}

@keyframes smokeTwo {
    0% {
        bottom: 55%;
        opacity: 0;
    } 40% {
        bottom: 60%;
        opacity: 0.5;
    } 80% {
        bottom: 70%;
        opacity: 0.3;
    } 100% {
        bottom: 75%;
        opacity: 0;
    }
}