.cardImg{
    max-height: 40%;
}
.cardmx{
    margin-left:8.25%;
    margin-right:3%;
    padding: 1%;
    margin-top:5%;
    margin-bottom:5%;
}
.colorMe{
    background-color: rgb(54, 57, 59);
    color: white;
}
.marTop{
    margin-top: 6%;
}
.marTopper{
    margin-top: 3%;
}
.padLeft6{
    padding-left:10%;
}
.padLeft8{
    padding-left: 15%;
}
.padLeft12{
    padding-left: 8%;
    padding-right:10%;
}
.padTopLeft8{
    padding-top: 20%;
    padding-left: 15%;
}
.portfolioImage{
    width: 100%;
    padding-right: 20%;
}
#aboutFooter{
    background-color:darkgrey;
}
#dayMessenger{
    color:black;
}
#lightThis{
    color: rgb(116, 116, 116);
    font-size: 90%;
}